@import "tailwindcss";
@plugin "daisyui";

@theme inline {
  --color-main-bg: #1d1d1d;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility text-bg {
  background-image: linear-gradient(270deg, #be7b2c 0%, #f9c39d 100%);
  background-clip: text;
  color: transparent;
}

@utility main-bg-gradient {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(190, 123, 44, 0.15) 100%
    ),
    linear-gradient(0deg, var(--black, #000000), var(--black, #000000));
}
