@import "tailwindcss";
@plugin "daisyui";

@layer base {
  :root {
  }
}
@font-face {
  font-family: "The New Elegance";
  src: url("/fonts/The New Elegance.ttf");
}

@layer utilities {
  /* .font-elegance {
    font-family: "The New Elegance";
  } */
  .main-grident-bg {
    background-image: linear-gradient(0deg, #000000 0%, #2e1a0b 100%);
  }
  .gradient-gold-text {
    @apply text-transparent bg-gradient-to-l from-[#BE7B2C] to-[#F9C39D] bg-clip-text;
  }
  .gradient-gold-line {
    @apply bg-gradient-to-l from-[#BE7B2C] to-[#F9C39D];
  }
}

@theme inline {
  --color-main-bg: #1d1d1d;
  --color-main-bg: #1d1d1d;
  /* --color-gradient-main-bg: linear-gradient(0deg, #000000 0%, #2e1a0b 100%);
  --color-gold: @apply text-transparent bg-gradient-to-l from-[#BE7B2C]
    to-[#F9C39D] bg-clip-text; */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-elegance: "The New Elegance";
}

@media (prefers-color-scheme: dark) {
}
@media (prefers-color-scheme: light) {
}
