@import "tailwindcss";
@plugin "daisyui";

@theme inline {
  --color-main-bg: #1d1d1d;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
}
@media (prefers-color-scheme: light) {
}
